<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <body>

        <div th:fragment="content(employees)" class="flex-grow relative" id="content">
            <div class="inset-x-2/4 top-1 h-16 content-center">
                <a href="/form">
                    <button class=" text-gray-500 bg-transparent border border-solid border-gray-500 hover:bg-gray-500 hover:text-white active:bg-gray-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                        </svg>
                    </button>
                </a>
            </div>
            <div class="mx-auto w-6/12">
                <span>Employee count: </span>
                <span th:text="${#lists.size(employees)}">[Engine Size]</span>

            </div>
            <div class="w-80" th:replace="fragments/userTable ::  userTable(${employees})" >

            </div>
            <div class="container mt-4 mx-auto ">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                    <div th:replace="fragments/card"></div>
                </div>
            </div>
        </div>

    </body>
</html>
